
.btn-info {
  font-size: 14px;
  padding: 6px 12px;
  margin: 2px;
  border-radius: 4px;
  text-transform: capitalize;
  display: inline-block;
  width: auto; 
}

#moves-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
